.container-lg {
  background: linear-gradient(
    to right,
    rgb(198, 255, 221),
    rgb(251, 215, 134),
    rgb(247, 121, 125)
  );
  border-radius: 15px;
}

.prnt-background {
  background-color: #ccffec;
  /*background-image: url();*/
}

.search_box {
  padding-top: 10px;
}

ul {
  list-style: none;
}

.a_city {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
}

#time-date {
  color: blueviolet;
  /*font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;*/
}

#weather-description {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
}

.hum_num {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
}

#humidity {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
}

.wind_num {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
}

#degrees-unit {
  font-size: 55px;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
}

#celLink {
  font-size: 20px;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
}

.divider {
  font-size: 20px;
}

#fahLink {
  font-size: 20px;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
}

.cute_sun_icon {
  width: 70px;
}

.shonobu_icon {
  width: 120px;
  margin-left: 40px;
}

/*FORECAST ICONS*/

.day_one {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
}

.day_two {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
}

.day_three {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
}

.day_four {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
}

.day_five {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
}

.day_six {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
}

#max-temp {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
  padding-left: 12px;
}

#min-temp {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
  padding-left: 8px;
}
